.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #e8e8e8;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
    font-size: 18px;
}

body {
    background-color: #0c185b
}